<h2>Login Administrador</h2>

@if (ViewBag.Error != null)
{
    <div style="color:red;margin-bottom:10px;">@ViewBag.Error</div>
}

<form method="post">
    <label>Cédula</label>
    <input name="cedula" class="form-control" />
    <button class="btn btn-secondary" style="margin-top:12px;">Enviar OTP</button>
</form>

<a href="/Acceso" style="display:block;margin-top:12px;">Volver</a>
