@{
    ViewData["Title"] = "Verificar ";
}
<div class="container py-5" style="max-width:520px;">
    <h3 class="mb-3">Verificar código</h3>

    @if (ViewBag.Error != null)
    {
        <div class="alert alert-danger">@ViewBag.Error</div>
    }

    <form method="post">
        @Html.AntiForgeryToken()

        <div class="mb-3">
            <label class="form-label">Código (OTP)</label>
            <input name="codigo" class="form-control" maxlength="6" />
        </div>

        <button class="btn btn-success w-100">Verificar</button>
    </form>
</div>
