@model VotoMVC.ViewModelos.VerificarCodigoVM

<h2>Verificar código</h2>

<form asp-action="Verificar" method="post">
    <input type="hidden" asp-for="Cedula" />
    <p><b>Cédula:</b> @Model.Cedula</p>

    <div>
        <label>Código</label>
        <input asp-for="Codigo" />
    </div>

    <button type="submit">Verificar</button>

    <div style="color:red">
        @Html.ValidationSummary()
    </div>
</form>