@model VotoModelos.OpcionElectoral

@{
    ViewData["Title"] = "Crear Opción";
}

<h2>Crear Opción Electoral</h2>

<form asp-action="Create" method="post">
    @Html.AntiForgeryToken()

    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label class="form-label">Tipo (CANDIDATO / BLANCO)</label>
        <input class="form-control" asp-for="Tipo" placeholder="CANDIDATO o BLANCO" />
    </div>

    <div class="mb-3">
        <label class="form-label">NombreOpcion</label>
        <input class="form-control" asp-for="NombreOpcion" placeholder="Juan Pérez o VOTO EN BLANCO" />
    </div>

    <div class="mb-3">
        <label class="form-label">Cargo</label>
        <input class="form-control" asp-for="Cargo" placeholder="Presidente, Asambleísta..." />
    </div>

    <div class="mb-3">
        <label class="form-label">IdCandidato (solo si Tipo=CANDIDATO)</label>
        <input class="form-control" asp-for="IdCandidato" />
    </div>

    <div class="form-check mb-3">
        <input class="form-check-input" asp-for="Activo" />
        <label class="form-check-label">Activo</label>
    </div>

    <button class="btn btn-success" type="submit">Guardar</button>
    <a class="btn btn-secondary" asp-action="Index" asp-route-idProceso="@Model.Id">Cancelar</a>

    @Html.ValidationSummary()
</form>
