@model VotoModelos.Voto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Voto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label>Seleccione su Candidato (ID)</label>
                <input asp-for="OpcionElectoralId" class="form-control" type="number" min="1" required />
                <span asp-validation-for="OpcionElectoralId" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Registrar Voto" class="btn btn-success w-100" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
