@model VotoModelos.Voto

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Voto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FechaHora" />
            <div class="form-group">
                <label class="control-label">ID del Candidato a Corregir</label>
                <input asp-for="OpcionElectoralId" class="form-control" />
                <span asp-validation-for="OpcionElectoralId" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <input type="submit" value="Guardar Cambios" class="btn btn-warning w-100" />
                <a asp-action="Index" class="btn btn-secondary w-100 mt-2">Volver</a>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
