@{
    ViewData["Title"] = "Panel Administrador";
}

<h2>Panel Administrador</h2>

<p>Desde aquí puedes:</p>

<ul>
    <li>Asignar roles a votantes</li>
    <li>Crear y cerrar procesos electorales</li>
    <li>Gestionar candidatos</li>
</ul>

