@model VotoMVC.ViewModelos.LoginCedulaVM
@{
    ViewData["Title"] = "Login";
}

<h2>Ingresar cédula</h2>

<form asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <div>
        <label>Cédula</label>
        <input asp-for="Cedula" />
    </div>

    <button type="submit">Continuar</button>

    <div style="color:red">
        @Html.ValidationSummary()
    </div>
</form>
