@model VotoMVC.ViewModelos.LoginCedulaVM

<h2>Ingresar cédula</h2>

<form asp-action="Login" method="post">
    <div>
        <label>Cédula</label>
        <input asp-for="Cedula" />
    </div>

    <button type="submit">Enviar código</button>

    <div style="color:red">
        @Html.ValidationSummary()
    </div>
</form>