@model VotoMVC_Login.Models.ViewModels.Admin.AdminLoginVm
@{
    ViewData["Title"] = "Login Administrador";
}

<div class="container py-5 admin-container">

    <div class="admin-header">
        <h3 class="fw-bold mb-1">Administrador</h3>
        <small>Ingresa tu cédula para recibir OTP</small>
    </div>

    <div class="admin-card p-4">

        @if (!string.IsNullOrWhiteSpace(Model.Error))
        {
            <div class="alert alert-danger">@Model.Error</div>
        }
        @if (!string.IsNullOrWhiteSpace(Model.Msg))
        {
            <div class="alert alert-success">@Model.Msg</div>
        }

        <form asp-action="Login" method="post">
            @Html.AntiForgeryToken()

            <label class="form-label fw-semibold">Cédula</label>
            <input asp-for="Cedula"
                   class="form-control"
                   maxlength="10"
                   placeholder="Ej: 0102030405" />

            <button class="btn btn-admin w-100 mt-3">
                Enviar OTP
            </button>
        </form>
    </div>
</div>
