html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    background: radial-gradient(circle at top left, #eef1ff 0%, transparent 45%), radial-gradient(circle at bottom right, #f3f4ff 0%, transparent 45%), #f6f7fb;
}
